{% extends 'employee/wrapper.html' %}
{% block title %}Employee Page{% endblock %}
{% block content %}
<p>
    <br>
    <a href="/" class="btn-success btn-lg">Main</a>
    <a href="/employee/api" class="btn-success btn-lg">Api</a>
    <div class="jumbotron">
        <div class="container">
            {% for emp in employee %}
                <div class="alert alert-warning">
                    <h3>
                        <font color="#5f9ea0">Device: </font>{{ emp.device }}<br>
                        <font color="#5f9ea0">Configuration: </font>{{ emp.configuration }}<br>
                        <font color="#5f9ea0">Price: </font>{{ emp.price }}<br>
                        <font color="#5f9ea0">Paid_by: </font>{{ emp.paid_by }}<br>
                        <font color="#5f9ea0">Used_by: </font>{{ emp.used_by }}<br>
                        <font color="#5f9ea0">Team: </font>{{ emp.team }}<br>
                        <font color="#5f9ea0">Comment: </font>{{ emp.comment }}<br>
                        <font color="#5f9ea0">Item_number: </font>{{ emp.item_number }}<br>
                        <font color="#5f9ea0">Empl_start_date: </font>{{ emp.empl_start_date }}<br>
                        <img src="{{ emp.image.url }}" alt="{{ emp.used_by }}" width="30%">
                    </h3>
                </div>
            {% endfor %}
        </div>
    </div>
</p>

{% endblock %}